footer {
  display: block;
  background-color: #353535;
  margin: 0;
  border: 0;
  font-size: 30px;
  vertical-align: baseline;
  padding: 25px;
  color: white;
  a {
    color: white;
    img {
      color: #fff;
  width: 220px;
  filter: invert(10);
  padding-top: 30px;
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
    li {
      padding: 5px 0 5px 0;
    }
  }
  ul .fa-utensils {
    margin-right: 12px;
  }
  ul .fa-hands-helping {
    margin-right: 5px;
  }
}