@import "../utils/_mixin.scss";
.functionning {
  padding: 40px 20px;
  width: 100%;
  background-color: #fff;
  h2 {
    display: block;
    padding-top: 50px;
    font-size: 40px;
    margin-block-start: 10px;
    margin-block-end: 10px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  button {
    border: none;
    background-color: transparent;
  }
}
.functionning__a {
  display: flex;
  margin: 60px 10px;
  width: 100%;
  height: 120px;
  justify-items: center;
  align-items: center;
  font-size: 30px;
  flex-wrap: wrap;
  background-color: #f6f6f6;
  padding: 20px 35px 20px 35px;
  border-radius: 40px;
  position: relative;
  margin-bottom: 30px;
  font-weight: 700;
  @include shadow;
  i {
    padding-right: 30px;
  padding-left: 30px;
  font-size: 30px;
  color: #7e7e7e;
  }
}
.functionning__a__number {
  position: absolute;
  left: 0;
  transform: translate(-15px);
  width: 50px;
  height: 50px;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #9356dc;
  color: #fff;
  font-weight: 300;
  font-size: 20px;
  border-radius: 50%;
}
.functionning__a:hover {
  background-color: #e2d6f1;
  i {
    color: #9356dc;
  }
}
