@import "../base/colors";
@import "../components/buttons";
.reservation {
  background: $backgroung-color;
  padding: 40px;
  display: flex;
  height: 380px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  @include button1;
}
.reservation__title {
  font-size: 25px;
}
.reservation__undertitle {
  font-size: 16px;
  margin: 0;
  font-weight: 200;
}
